<h2>Contact Us</h2>

<div class="emailForm">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="emailForm">
        <div class="formInput">
            <label>
                Name: 
                <input formControlName="name" type="name" required />
            </label>
        </div>
        <div class="formInput"> 
            <label>
                 Email: 
                 <input formControlName="email" type="email" required />
             </label>
        </div>
        <div class="formInput">
            <label>
                Message:
                <textarea formControlName="message" type="message" rows="3" required></textarea>    
            </label>
        </div>
    
        <button type="submit">Submit</button>
    
    </form>
</div>
