<h2 class="contactHeader"> Contact Us</h2>

<div class="emailForm">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="emailForm">
        <div class="formInput">
            <mat-form-field appearance="fill">
                    <input matInput formControlName="name" type="name" placeholder="Name: " required />
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field appearance="fill">
                     <input matInput formControlName="email" type="email" placeholder="Email: " required />
            </mat-form-field> 
        </div>
        <div class="formInput">
            <mat-form-field appearance="fill">
                <textarea matInput formControlName="message" type="message" rows="3" placeholder="Message: " required></textarea>    
            </mat-form-field>
        </div>
    
        <button mat-raised-button class="nav-btn" type="submit">Submit</button>
    
    </form>
</div>
