<div *ngIf="pokemonList != null">
    <div *ngFor="let result of pokemonList.results" class="pokemonCard"> 
        <h3 class="pokemonName">{{ result.name }}</h3>
        <h4>Pokemon Number: {{ result.url.slice(39, -1) }}</h4>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ result.url.slice(39, -1) }}.png" />
        <button mat-raised-button class="nav-btn" routerLink="/detail/{{ result.url.slice(39, -1) }}">More Info</button>
    </div>
</div>




