/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #ffcb05;
    color: #3c5aa6;
 }

 #PokeLogo {
     padding-top: .5em;
 }